{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <div class="row maintop">
        <div class="col-xs-12">
            <!-- 提示 -->
            {empty name="isChrome"}
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <i class="ace-icon fa fa-check green"></i>
                为了您更好的使用本系统，建议屏幕分辨率1280*768以上，并且安装chrome谷歌浏览器 ——— <a href="{:url('admin/Help/soft')}">进入软件下载专区</a>
            </div>
            {/empty}
        </div><!-- /.col -->


        <!--首页数据统计-->
        <div class="index-data-container">
            <!--用户统计-->
           <div class="common-count">
               <h3>用户统计</h3>
               <div class="common-number">
                   <a href="{:url('admin/Park/room_list',['status'=>1])}" target="_blank">
                   <h3>{$rented_room_number}</h3>
                   </a>
                   <h5>已租房源</h5>
               </div>
               <div class="common-number">
                   <a href="{:url('admin/Enterprise/enterprise_list')}" target="_blank">
                       <h3>{$enterprise_number}</h3>
                   </a>
                   <h5>入驻企业数</h5>
               </div>
               <div class="common-number">
                   <a href="{:url('admin/member/member_list')}" target="_blank">
                       <h3>{$user_number}</h3>
                   </a>
                   <h5>注册用户数</h5>
               </div>
           </div>

            <!--待处理统计-->
            <div class="common-count">
                <h3>待处理统计</h3>
                <div class="common-number">
                    <a href="{:url('admin/service/meeting_room_order_list')}" target="_blank">
                        <h3>{$meeting_room_appoint}</h3>
                    </a>
                    <h5>会议室新预订</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/service/repair_list')}" target="_blank">
                        <h3>{$to_repair_number}</h3>
                    </a>
                    <h5>物业新报修</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/service/complaints_list')}" target="_blank">
                        <h3>{$to_complains_number}</h3>
                    </a>
                    <h5>待处理投诉</h5>
                </div>
            </div>

            <!--发布文案-->
            <div class="common-count">
                <h3>发布文案</h3>
                <div class="common-number">
                    <a href="{:url('admin/news/news_list')}" target="_blank">
                        <h3>{$article_number}</h3>
                    </a>
                    <h5>发布文章数</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/news/news_list',['news_columnid'=>3])}" target="_blank">
                        <h3>{$activity_number}</h3>
                    </a>
                    <h5>发布活动数</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/announcement/announcement_list')}" target="_blank">
                        <h3>{$announcement_number}</h3>
                    </a>
                    <h5>发布公告数</h5>
                </div>
            </div>

            <!--社区统计-->
            <div class="common-count">
                <h3>社区统计</h3>
                <div class="common-number">
                    <a href="{:url('admin/news/news_list',['news_columnid'=>4])}" target="_blank">
                        <h3>{$post_all}</h3>
                    </a>
                    <h5>发帖数</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/news/news_list',['news_columnid'=>4,'news_open'=>0])}" target="_blank">
                        <h3>{$post_to_check}</h3>
                    </a>
                    <h5>待审核数</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/news/news_list',['news_columnid'=>4])}" target="_blank">
                        <h3>{$post_ok}</h3>
                    </a>
                    <h5>成功发帖</h5>
                </div>
            </div>

            <!--房源信息-->
            <div class="common-room">
                <h3>房源信息</h3>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list')}" target="_blank">
                        <h3>{$room_all}</h3>
                    </a>
                    <h5>房源总数</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list',['status'=>0])}" target="_blank">
                        <h3>{$room_0}</h3>
                    </a>
                    <h5>未租</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list',['status'=>1])}" target="_blank">
                        <h3>{$rented_room_number}</h3>
                    </a>
                    <h5>已租</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list',['status'=>2])}" target="_blank">
                        <h3>{$room_2}</h3>
                    </a>
                    <h5>已售</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list',['status'=>3])}" target="_blank">
                        <h3>{$room_3}</h3>
                    </a>
                    <h5>已定</h5>
                </div>
                <div class="common-number">
                    <a href="{:url('admin/park/room_list',['status'=>4])}" target="_blank">
                        <h3>{$room_4}</h3>
                    </a>
                    <h5>自留</h5>
                </div>
            </div>

            <!--财务相关-->
            <div class="common-count index-financial">
                <h3>财务相关</h3>
                <div class="common-number index-financial-number">
                    <h5>待缴费</h5>
                    <a href="{:url('admin/financial/bill_list',['status'=>0])}" target="_blank">
                        <h3>{$bill0}</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>待开票</h5>
                    <a href="{:url('admin/financial/bill_list',['status'=>1])}" target="_blank">
                        <h3>{$bill1}</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>已完成</h5>
                    <a href="{:url('admin/financial/bill_list',['status'=>2])}" target="_blank">
                        <h3>{$bill2}</h3>
                    </a>
                </div>
            </div>

            <!--企业相关-->
            <div class="common-count index-enterprise">
                <h3>企业管理</h3>
                <div class="common-number index-financial-number">
                    <h5>企业总数</h5>
                    <a href="{:url('admin/Enterprise/enterprise_list')}" target="_blank">
                        <h3>{$enterprise_number}</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>会员总数</h5>
                    <a href="{:url('admin/member/member_list')}" target="_blank">
                        <h3>{$user_number}</h3>
                    </a>
                </div>
            </div>

        </div><!--首页数据统计结束-->

        <!--房源平面图-->
        <div class="common-room">
            <h3>房源平面图</h3>
            <div class="index-build-plane">
                <h3 id="index-build-floor"><span class="index-room-floor"></span>F</h3>
                <ul class="index-bulid-list">
                    <li class="index-floor common-floor-width" data-float="23"><img src="http://www.hacyy.com/public/img/floor_img/floor_23.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="22"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="21"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="20"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="19"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="18"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="17"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="16"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="15"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="14"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="13"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="12"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="11"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="10"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="9"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="8"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="7"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="6"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="5"><img src="http://www.hacyy.com/public/img/floor_img/floor_5.png" alt=""></li>
                    <li class="index-floor common-floor-width" data-float="4"><img src="http://www.hacyy.com/public/img/floor_img/floor_4.png" alt=""></li>
                    <li class="index-floor common-floor-bottom" data-float="3"><img src="http://www.hacyy.com/public/img/floor_img/floor_3.png" alt=""></li>
                    <li class="index-floor common-floor-bottom" data-float="2"><img src="http://www.hacyy.com/public/img/floor_img/floor_2.png" alt=""></li>
                    <li class="index-floor common-floor-bottom" data-float="1"><img src="http://www.hacyy.com/public/img/floor_img/floor_1.png" alt=""></li>
                </ul>
            </div>
            <div class="index-room-container">
                <div class="index-room-plane">
                    <svg id="边" xmlns="http://www.w3.org/2000/svg" width="650" height="248" viewBox="0 0 1621 620">
                        <defs>
                            <style>
                                .cls-1, .cls-2 {
                                    fill: #585b7a;
                                }

                                .cls-2 {
                                    fill-rule: evenodd;
                                }
                            </style>
                        </defs>
                        <g id="组_6" data-name="组 6">
                            <rect id="矩形_1" data-name="矩形 1" class="cls-1" x="199" y="510" width="1180" height="6"/>
                            <rect id="矩形_3_拷贝_14" data-name="矩形 3 拷贝 14" class="cls-1" x="192" y="93" width="6" height="19"/>
                            <rect id="矩形_3_拷贝_18" data-name="矩形 3 拷贝 18" class="cls-1" x="1373" y="475" width="6" height="41"/>
                            <rect id="矩形_3_拷贝_20" data-name="矩形 3 拷贝 20" class="cls-1" x="193" y="475" width="6" height="41"/>
                            <rect id="矩形_3_拷贝_21" data-name="矩形 3 拷贝 21" class="cls-1" x="91" y="475" width="102" height="6"/>
                            <rect id="矩形_3_拷贝_8" data-name="矩形 3 拷贝 8" class="cls-1" x="1475" y="117" width="6" height="360"/>
                            <rect id="矩形_3_拷贝_5" data-name="矩形 3 拷贝 5" class="cls-1" x="91" y="106" width="6" height="370"/>
                            <rect id="矩形_3_拷贝_17" data-name="矩形 3 拷贝 17" class="cls-1" x="1382" y="94" width="6" height="24"/>
                            <rect id="矩形_3_拷贝_9" data-name="矩形 3 拷贝 9" class="cls-1" x="1387" y="112" width="94" height="6"/>
                            <rect id="矩形_3_拷贝_13" data-name="矩形 3 拷贝 13" class="cls-1" x="94" y="106" width="98" height="6"/>
                            <rect id="矩形_3_拷贝_11" data-name="矩形 3 拷贝 11" class="cls-1" x="197" y="93" width="1191" height="6"/>
                            <rect id="矩形_3_拷贝_7" data-name="矩形 3 拷贝 7" class="cls-1" x="1377" y="475" width="104" height="6"/>
                            <rect id="矩形_3_拷贝_23" data-name="矩形 3 拷贝 23" class="cls-1" x="1353" y="315" width="124" height="4"/>
                            <rect id="矩形_3_拷贝_30" data-name="矩形 3 拷贝 30" class="cls-1" x="1356" y="270" width="120" height="4"/>
                            <rect id="矩形_4_拷贝_4" data-name="矩形 4 拷贝 4" class="cls-1" x="92" y="466" width="14" height="14"/>
                            <rect id="矩形_4_拷贝_5" data-name="矩形 4 拷贝 5" class="cls-1" x="91" y="111" width="14" height="14"/>
                            <rect id="矩形_4" data-name="矩形 4" class="cls-1" x="1467" y="257" width="14" height="14"/>
                            <rect id="矩形_4_拷贝" data-name="矩形 4 拷贝" class="cls-1" x="1467" y="112" width="14" height="14"/>
                            <rect id="矩形_4_拷贝-2" data-name="矩形 4 拷贝" class="cls-1" x="1466" y="319" width="14" height="14"/>
                            <rect id="矩形_4_拷贝_3" data-name="矩形 4 拷贝 3" class="cls-1" x="1467" y="465" width="14" height="14"/>
                        </g>
                        <rect id="矩形_4_拷贝_6" data-name="矩形 4 拷贝 6" class="cls-1" x="91" y="318" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_15" data-name="矩形 4 拷贝 15" class="cls-1" x="91" y="257" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_4" data-name="矩形 3 拷贝 4" class="cls-1" x="93" y="315" width="132" height="4"/>
                        <rect id="矩形_3_拷贝_6" data-name="矩形 3 拷贝 6" class="cls-1" x="302" y="315" width="134" height="4"/>
                        <rect id="矩形_3_拷贝_38" data-name="矩形 3 拷贝 38" class="cls-1" x="813" y="271" width="225" height="4"/>
                        <rect id="矩形_3_拷贝_55" data-name="矩形 3 拷贝 55" class="cls-1" x="306" y="271" width="130" height="4"/>
                        <rect id="矩形_3_拷贝_56" data-name="矩形 3 拷贝 56" class="cls-1" x="94" y="271" width="130" height="4"/>
                        <rect id="矩形_3_拷贝_57" data-name="矩形 3 拷贝 57" class="cls-1" x="251" y="271" width="26" height="4"/>
                        <rect id="矩形_3_拷贝_10" data-name="矩形 3 拷贝 10" class="cls-1" x="455" y="315" width="146" height="4"/>
                        <rect id="矩形_3_拷贝_12" data-name="矩形 3 拷贝 12" class="cls-1" x="634" y="315" width="155" height="4"/>
                        <rect id="矩形_3_拷贝_15" data-name="矩形 3 拷贝 15" class="cls-1" x="821" y="315" width="157" height="4"/>
                        <rect id="矩形_3_拷贝_16" data-name="矩形 3 拷贝 16" class="cls-1" x="1002" y="315" width="114" height="4"/>
                        <rect id="矩形_3_拷贝_19" data-name="矩形 3 拷贝 19" class="cls-1" x="1182" y="315" width="135" height="4"/>
                        <g id="组_4" data-name="组 4">
                            <rect id="矩形_4_拷贝_7" data-name="矩形 4 拷贝 7" class="cls-1" x="256" y="319" width="14" height="14"/>
                            <rect id="矩形_4_拷贝_8" data-name="矩形 4 拷贝 8" class="cls-1" x="256" y="466" width="14" height="14"/>
                            <rect id="矩形_3_拷贝_22" data-name="矩形 3 拷贝 22" class="cls-1" x="261" y="326" width="4" height="184"/>
                        </g>
                        <g id="组_4_拷贝" data-name="组 4 拷贝">
                            <rect id="矩形_4_拷贝_7-2" data-name="矩形 4 拷贝 7" class="cls-1" x="257" y="257" width="14" height="14"/>
                            <rect id="矩形_4_拷贝_8-2" data-name="矩形 4 拷贝 8" class="cls-1" x="257" y="111" width="14" height="14"/>
                            <rect id="矩形_3_拷贝_22-2" data-name="矩形 3 拷贝 22" class="cls-1" x="262" y="98" width="4" height="166"/>
                        </g>
                        <g id="组_4_拷贝_2" data-name="组 4 拷贝 2">
                            <rect id="矩形_4_拷贝_7-3" data-name="矩形 4 拷贝 7" class="cls-1" x="422" y="257" width="14" height="14"/>
                            <rect id="矩形_4_拷贝_8-3" data-name="矩形 4 拷贝 8" class="cls-1" x="422" y="111" width="14" height="14"/>
                            <rect id="矩形_3_拷贝_22-3" data-name="矩形 3 拷贝 22" class="cls-1" x="427" y="98" width="4" height="166"/>
                        </g>
                        <rect id="矩形_4_拷贝_9" data-name="矩形 4 拷贝 9" class="cls-1" x="422" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_9-2" data-name="矩形 4 拷贝 9" class="cls-1" x="422" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_24" data-name="矩形 3 拷贝 24" class="cls-1" x="427" y="326" width="4" height="184"/>
                        <rect id="矩形_4_拷贝_10" data-name="矩形 4 拷贝 10" class="cls-1" x="587" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_10-2" data-name="矩形 4 拷贝 10" class="cls-1" x="587" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_25" data-name="矩形 3 拷贝 25" class="cls-1" x="592" y="326" width="4" height="184"/>
                        <rect id="矩形_4_拷贝_11" data-name="矩形 4 拷贝 11" class="cls-1" x="775" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_11-2" data-name="矩形 4 拷贝 11" class="cls-1" x="775" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_26" data-name="矩形 3 拷贝 26" class="cls-1" x="780" y="326" width="4" height="184"/>
                        <rect id="矩形_4_拷贝_12" data-name="矩形 4 拷贝 12" class="cls-1" x="964" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_12-2" data-name="矩形 4 拷贝 12" class="cls-1" x="964" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_27" data-name="矩形 3 拷贝 27" class="cls-1" x="969" y="326" width="4" height="184"/>
                        <rect id="矩形_4_拷贝_13" data-name="矩形 4 拷贝 13" class="cls-1" x="1137" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_13-2" data-name="矩形 4 拷贝 13" class="cls-1" x="1137" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_28" data-name="矩形 3 拷贝 28" class="cls-1" x="1142" y="326" width="4" height="184"/>
                        <rect id="矩形_4_拷贝_14" data-name="矩形 4 拷贝 14" class="cls-1" x="1303" y="319" width="14" height="14"/>
                        <rect id="矩形_4_拷贝_14-2" data-name="矩形 4 拷贝 14" class="cls-1" x="1303" y="466" width="14" height="14"/>
                        <rect id="矩形_3_拷贝_29" data-name="矩形 3 拷贝 29" class="cls-1" x="1308" y="326" width="4" height="184"/>
                        <rect id="矩形_3_拷贝_40" data-name="矩形 3 拷贝 40" class="cls-1" x="720" y="271" width="64" height="4"/>
                        <rect id="矩形_3_拷贝_41" data-name="矩形 3 拷贝 41" class="cls-1" x="720" y="112" width="64" height="4"/>
                        <rect id="矩形_3_拷贝_42" data-name="矩形 3 拷贝 42" class="cls-1" x="720" y="165" width="64" height="2"/>
                        <rect id="矩形_3_拷贝_43" data-name="矩形 3 拷贝 43" class="cls-1" x="720" y="211" width="64" height="2"/>
                        <rect id="矩形_3_拷贝_39" data-name="矩形 3 拷贝 39" class="cls-1" x="780" y="99" width="4" height="174"/>
                        <rect id="矩形_3_拷贝_44" data-name="矩形 3 拷贝 44" class="cls-1" x="720" y="112" width="4" height="20"/>
                        <rect id="矩形_3_拷贝_45" data-name="矩形 3 拷贝 45" class="cls-1" x="720" y="154" width="4" height="24"/>
                        <rect id="矩形_3_拷贝_46" data-name="矩形 3 拷贝 46" class="cls-1" x="720" y="200" width="4" height="34"/>
                        <rect id="矩形_3_拷贝_47" data-name="矩形 3 拷贝 47" class="cls-1" x="720" y="246" width="4" height="29"/>
                        <rect id="矩形_3_拷贝_48" data-name="矩形 3 拷贝 48" class="cls-1" x="590" y="271" width="64" height="4"/>
                        <rect id="矩形_3_拷贝_51" data-name="矩形 3 拷贝 51" class="cls-1" x="507" y="271" width="85" height="4"/>
                        <rect id="矩形_3_拷贝_52" data-name="矩形 3 拷贝 52" class="cls-1" x="467" y="211" width="56" height="4"/>
                        <rect id="矩形_3_拷贝_54" data-name="矩形 3 拷贝 54" class="cls-1" x="455" y="271" width="26" height="4"/>
                        <rect id="矩形_3_拷贝_53" data-name="矩形 3 拷贝 53" class="cls-1" x="467" y="187" width="4" height="84"/>
                        <rect id="矩形_3_拷贝_48-2" data-name="矩形 3 拷贝 48" class="cls-1" x="467" y="112" width="187" height="4"/>
                        <rect id="矩形_3_拷贝_48-3" data-name="矩形 3 拷贝 48" class="cls-1" x="590" y="165" width="64" height="2"/>
                        <rect id="矩形_3_拷贝_48-4" data-name="矩形 3 拷贝 48" class="cls-1" x="590" y="211" width="64" height="2"/>
                        <rect id="矩形_3_拷贝_48-5" data-name="矩形 3 拷贝 48" class="cls-1" x="590" y="99" width="4" height="174"/>
                        <rect id="矩形_3_拷贝_49" data-name="矩形 3 拷贝 49" class="cls-1" x="519" y="115" width="4" height="112"/>
                        <rect id="矩形_3_拷贝_48-6" data-name="矩形 3 拷贝 48" class="cls-1" x="650" y="112" width="4" height="20"/>
                        <rect id="矩形_3_拷贝_48-7" data-name="矩形 3 拷贝 48" class="cls-1" x="650" y="154" width="4" height="24"/>
                        <rect id="矩形_3_拷贝_48-8" data-name="矩形 3 拷贝 48" class="cls-1" x="650" y="200" width="4" height="34"/>
                        <rect id="矩形_3_拷贝_50" data-name="矩形 3 拷贝 50" class="cls-1" x="519" y="255" width="4" height="20"/>
                        <rect id="矩形_3_拷贝_48-9" data-name="矩形 3 拷贝 48" class="cls-1" x="650" y="246" width="4" height="29"/>
                        <g id="组_5" data-name="组 5">
                            <rect id="矩形_5_拷贝_17" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="178" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-2" data-name="矩形 5 拷贝 17" class="cls-1" x="639" y="174" width="1" height="32"/>
                            <rect id="矩形_5_拷贝_17-3" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="174" width="1" height="32"/>
                            <path id="矩形_5_拷贝_17-4" data-name="矩形 5 拷贝 17" class="cls-2" d="M610,173h1l29,34h-1Z"/>
                            <path id="矩形_5_拷贝_17-5" data-name="矩形 5 拷贝 17" class="cls-2" d="M610,206l30-33v1l-30,33v-1Z"/>
                            <rect id="矩形_5_拷贝_17-6" data-name="矩形 5 拷贝 17" class="cls-1" x="604" y="178" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-7" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="201" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-8" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="178" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-9" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="173" width="30" height="1"/>
                            <rect id="矩形_5_拷贝_17-10" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="206" width="30" height="1"/>
                        </g>
                        <g id="组_5_拷贝" data-name="组 5 拷贝">
                            <rect id="矩形_5_拷贝_17-11" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="130" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-12" data-name="矩形 5 拷贝 17" class="cls-1" x="639" y="126" width="1" height="32"/>
                            <rect id="矩形_5_拷贝_17-13" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="126" width="1" height="32"/>
                            <path id="矩形_5_拷贝_17-14" data-name="矩形 5 拷贝 17" class="cls-2" d="M610,125h1l29,34h-1Z"/>
                            <path id="矩形_5_拷贝_17-15" data-name="矩形 5 拷贝 17" class="cls-2" d="M610,158l30-33v1l-30,33v-1Z"/>
                            <rect id="矩形_5_拷贝_17-16" data-name="矩形 5 拷贝 17" class="cls-1" x="604" y="130" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-17" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="153" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-18" data-name="矩形 5 拷贝 17" class="cls-1" x="598" y="130" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-19" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="125" width="30" height="1"/>
                            <rect id="矩形_5_拷贝_17-20" data-name="矩形 5 拷贝 17" class="cls-1" x="610" y="158" width="30" height="1"/>
                        </g>
                        <g id="组_5_拷贝_2" data-name="组 5 拷贝 2">
                            <rect id="矩形_5_拷贝_17-21" data-name="矩形 5 拷贝 17" class="cls-1" x="770" y="178" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-22" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="174" width="1" height="32"/>
                            <rect id="矩形_5_拷贝_17-23" data-name="矩形 5 拷贝 17" class="cls-1" x="758" y="174" width="1" height="32"/>
                            <path id="矩形_5_拷贝_17-24" data-name="矩形 5 拷贝 17" class="cls-2" d="M759,173h-1l-29,34h1Z"/>
                            <path id="矩形_5_拷贝_17-25" data-name="矩形 5 拷贝 17" class="cls-2" d="M759,206l-30-33v1l30,33v-1Z"/>
                            <rect id="矩形_5_拷贝_17-26" data-name="矩形 5 拷贝 17" class="cls-1" x="764" y="178" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-27" data-name="矩形 5 拷贝 17" class="cls-1" x="765" y="201" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-28" data-name="矩形 5 拷贝 17" class="cls-1" x="765" y="178" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-29" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="173" width="30" height="1"/>
                            <rect id="矩形_5_拷贝_17-30" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="206" width="30" height="1"/>
                        </g>
                        <g id="组_5_拷贝_3" data-name="组 5 拷贝 3">
                            <rect id="矩形_5_拷贝_17-31" data-name="矩形 5 拷贝 17" class="cls-1" x="770" y="130" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-32" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="126" width="1" height="32"/>
                            <rect id="矩形_5_拷贝_17-33" data-name="矩形 5 拷贝 17" class="cls-1" x="758" y="126" width="1" height="32"/>
                            <path id="矩形_5_拷贝_17-34" data-name="矩形 5 拷贝 17" class="cls-2" d="M759,125h-1l-29,34h1Z"/>
                            <path id="矩形_5_拷贝_17-35" data-name="矩形 5 拷贝 17" class="cls-2" d="M759,158l-30-33v1l30,33v-1Z"/>
                            <rect id="矩形_5_拷贝_17-36" data-name="矩形 5 拷贝 17" class="cls-1" x="764" y="130" width="1" height="24"/>
                            <rect id="矩形_5_拷贝_17-37" data-name="矩形 5 拷贝 17" class="cls-1" x="765" y="153" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-38" data-name="矩形 5 拷贝 17" class="cls-1" x="765" y="130" width="6" height="1"/>
                            <rect id="矩形_5_拷贝_17-39" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="125" width="30" height="1"/>
                            <rect id="矩形_5_拷贝_17-40" data-name="矩形 5 拷贝 17" class="cls-1" x="729" y="158" width="30" height="1"/>
                        </g>
                        <rect id="矩形_3_拷贝_31" data-name="矩形 3 拷贝 31" class="cls-1" x="1237" y="271" width="83" height="4"/>
                        <rect id="矩形_3_拷贝_35" data-name="矩形 3 拷贝 35" class="cls-1" x="1180" y="271" width="18" height="4"/>
                        <rect id="矩形_3_拷贝_36" data-name="矩形 3 拷贝 36" class="cls-1" x="1068" y="271" width="79" height="4"/>
                        <rect id="矩形_3_拷贝_37" data-name="矩形 3 拷贝 37" class="cls-1" x="1143" y="257" width="4" height="18"/>
                        <rect id="矩形_3_拷贝_61" data-name="矩形 3 拷贝 61" class="cls-1" x="1216" y="216" width="76" height="4"/>
                        <rect id="矩形_3_拷贝_62" data-name="矩形 3 拷贝 62" class="cls-1" x="1251" y="94" width="2" height="124"/>
                        <rect id="矩形_3_拷贝_22-4" data-name="矩形 3 拷贝 22" class="cls-1" x="1311" y="97" width="4" height="174"/>
                        <rect id="矩形_3_拷贝_32" data-name="矩形 3 拷贝 32" class="cls-1" x="1194" y="97" width="4" height="178"/>
                        <rect id="矩形_3_拷贝_33" data-name="矩形 3 拷贝 33" class="cls-1" x="1068" y="97" width="4" height="174"/>
                        <rect id="矩形_3_拷贝_34" data-name="矩形 3 拷贝 34" class="cls-1" x="1143" y="97" width="4" height="129"/>
                        <rect id="矩形_4-2" data-name="矩形 4" class="cls-1" x="1306" y="257" width="14" height="14"/>
                        <rect id="矩形_4_拷贝-3" data-name="矩形 4 拷贝" class="cls-1" x="1306" y="111" width="14" height="14"/>
                        <rect id="矩形_5_拷贝_17-41" data-name="矩形 5 拷贝 17" class="cls-1" x="1158" y="110" width="24" height="1"/>
                        <rect id="矩形_5_拷贝_17-42" data-name="矩形 5 拷贝 17" class="cls-1" x="1154" y="151" width="32" height="1"/>
                        <rect id="矩形_5_拷贝_17-43" data-name="矩形 5 拷贝 17" class="cls-1" x="1154" y="122" width="32" height="1"/>
                        <path id="矩形_5_拷贝_17-44" data-name="矩形 5 拷贝 17" class="cls-2" d="M1153,122v1l34,29v-1Z"/>
                        <path id="矩形_5_拷贝_17-45" data-name="矩形 5 拷贝 17" class="cls-2" d="M1186,122l-33,30h1l33-30h-1Z"/>
                        <rect id="矩形_5_拷贝_17-46" data-name="矩形 5 拷贝 17" class="cls-1" x="1158" y="116" width="24" height="1"/>
                        <rect id="矩形_5_拷贝_17-47" data-name="矩形 5 拷贝 17" class="cls-1" x="1181" y="110" width="1" height="6"/>
                        <rect id="矩形_5_拷贝_17-48" data-name="矩形 5 拷贝 17" class="cls-1" x="1158" y="110" width="1" height="6"/>
                        <rect id="矩形_5_拷贝_17-49" data-name="矩形 5 拷贝 17" class="cls-1" x="1153" y="122" width="1" height="30"/>
                        <rect id="矩形_5_拷贝_17-50" data-name="矩形 5 拷贝 17" class="cls-1" x="1186" y="122" width="1" height="30"/>
                        <rect id="矩形_3_拷贝_70" data-name="矩形 3 拷贝 70" class="cls-1" x="468" y="193" width="54" height="4"/>
                        <rect id="矩形_3_拷贝_71" data-name="矩形 3 拷贝 71" class="cls-1" x="467" y="153" width="54" height="4"/>
                        <rect id="矩形_3_拷贝_72" data-name="矩形 3 拷贝 72" class="cls-1" x="467" y="146" width="4" height="18"/>
                        <rect id="矩形_3_拷贝_73" data-name="矩形 3 拷贝 73" class="cls-1" x="467" y="115" width="4" height="10"/>
                        <rect id="矩形_3_拷贝_69" data-name="矩形 3 拷贝 69" class="cls-1" x="1144" y="159" width="11" height="4"/>
                        <rect id="矩形_3_拷贝_76" data-name="矩形 3 拷贝 76" class="cls-1" x="1186" y="159" width="11" height="4"/>
                        <g id="组_20" data-name="组 20">
                            <rect id="矩形_5_拷贝_29" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="183" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-2" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="187" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-3" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="207" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-4" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="211" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-5" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="191" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-6" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="195" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-7" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="199" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-8" data-name="矩形 5 拷贝 29" class="cls-1" x="529" y="203" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-9" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="162" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-10" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="166" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-11" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="153" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-12" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="157" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-13" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="170" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-14" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="174" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-15" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="178" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-16" data-name="矩形 5 拷贝 29" class="cls-1" x="559" y="182" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_29-17" data-name="矩形 5 拷贝 29" class="cls-1" x="556" y="147" width="1" height="71"/>
                            <rect id="矩形_5_拷贝_30" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="183" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-2" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="187" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-3" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="207" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-4" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="211" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-5" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="191" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-6" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="195" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-7" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="199" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-8" data-name="矩形 5 拷贝 30" class="cls-1" x="1081" y="203" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-9" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="162" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-10" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="166" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-11" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="153" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-12" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="157" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-13" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="170" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-14" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="174" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-15" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="178" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-16" data-name="矩形 5 拷贝 30" class="cls-1" x="1111" y="182" width="25" height="1"/>
                            <rect id="矩形_5_拷贝_30-17" data-name="矩形 5 拷贝 30" class="cls-1" x="1108" y="147" width="1" height="71"/>
                        </g>
                    </svg>

                </div>

                <div class="legend">
                    <div style="background-color: #8ed8ff;height:20px;width: 20px;display: inline-block;vertical-align: text-top;"></div><span class="legend-text">未租</span>
                    <div style="background-color: #dedede;height:20px;width: 20px;display: inline-block;vertical-align: text-top;"></div><span class="legend-text">已租</span>
                    <div style="background-color: #ff839a;height:20px;width: 20px;display: inline-block;vertical-align: text-top;"></div><span class="legend-text">已售</span>
                    <div style="background-color: #8a95ff;height:20px;width: 20px;display: inline-block;vertical-align: text-top;"></div><span class="legend-text">已定</span>
                    <div style="background-color: #ffde83;height:20px;width: 20px;display: inline-block;vertical-align: text-top;"></div><span class="legend-text">自留</span>
                </div>

                <div class="index-room-info">
                    <h4 class="index-room-info-title"><span class="index-room-num">401</span>室详情</h4>
                    <ul class="inline-block index-room-left">
                        <li>楼栋：<span class="index-room-floor">4F</span></li>
                        <li>门牌：<span class="index-room-num">401</span></li>
                        <li>面积：<span class="index-room-squ">92</span>㎡</li>
                    </ul>

                    <ul class="inline-block index-room-right">
                        <li>项目名称：<span class="index-room-times">海创空间大厦二期</span></li>
                        <li>企业入驻：<span class="index-room-enterprise">暂未有企业入驻</span></li>
                        <li>地点：<span class="index-room-add">通源路海创空间大厦二期<span class="index-room-num">401</span>室</span></li>
                    </ul>
                </div>
            </div>
        </div>


        <!--统计图展示-->
        <div class="common-echarts">
            <div class="common-charts-style" id="index-pie"></div>
            <div class="common-charts-style" id="index-line-room"></div>
            <div class="common-charts-style" id="index-line-enterprise"></div>
            <div class="common-charts-style" id="index-line-user"></div>
            <div class="common-charts-style" id="index-line-floor"></div>
        </div>


    </div><!-- /.row -->
</div>
<script src="__PUBLIC__/echarts/echarts.common.min.js"></script>
<script src="__PUBLIC__/echarts/pie-charts.js"></script>
<script>


    var timer = null;

    //点击楼层显示平面和默认信息
    $('.index-bulid-list').on('click','.index-floor',showPlane)
    //鼠标悬浮楼层显示平面和默认信息
    $('.index-bulid-list').on('mouseenter','.index-floor',function () {
        clearTimeout(timer);
        var floatNum = this.getAttribute("data-float");
        localStorage.setItem("floatNum",floatNum);
        timer = setTimeout(function () {
            $.ajax({
                url:'/api/charts.index/build_floor/floor/' + floatNum,
                type:'get',
                dataType:'json',
                success:function(data){
                    $('.index-room-num').html(data.data[0].room_number)
                    $('.index-room-floor').html(data.data[0].floor)
                    $('.index-room-squ').html(data.data[0].area)
                    $('.index-room-times').html(data.data[0].phase)
                    $('.index-room-enterprise').html(data.data[0].enterprise_id)
                    $('.index-room-plane')[0].innerHTML = data.data.svg;

                    if( getJsonLength(data.data) > 2 ) {
                        for (var i = 0; i < 12; i++) {
                            var floatInfo = data.data[i];
                            switch (floatInfo.status) {
                                case 0:
                                    document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#8ed8ff";
                                    break;
                                case 1:
                                    document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#dedede";
                                    break;
                                case 2:
                                    document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#ff839a";
                                    break;
                                case 3:
                                    document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#8a95ff";
                                    break;
                                case 4:
                                    document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#ffde83";
                                    break;
                            }
                        }
                    }
                }
            })
        },100)

    })


    //点击房间改变状态
    $('.index-room-plane').on('click','.room',showRoom)
    //鼠标悬浮房间改变状态
    $('.index-room-plane').on('mouseenter','.room',showRoom)


    // 楼层平面所需js
    function getNumReg(num) {
        num = String(num);
        return num.substr(num.length - 2);
    }

    function getJsonLength(jsonData){
        var jsonLength = 0;
        for(var item in jsonData){
            jsonLength++;
        }

        return jsonLength;
    }

    function showPlane() {
        var floatNum = this.getAttribute("data-float");
        localStorage.setItem("floatNum",floatNum);
        $.ajax({
            url:'/api/charts.index/build_floor/floor/' + floatNum,
            type:'get',
            dataType:'json',
            success:function(data){
                $('.index-room-num').html(data.data[0].room_number)
                $('.index-room-floor').html(data.data[0].floor)
                $('.index-room-squ').html(data.data[0].area)
                $('.index-room-times').html(data.data[0].phase)
                $('.index-room-enterprise').html(data.data[0].enterprise_id)
                $('.index-room-plane')[0].innerHTML = data.data.svg;

                if( getJsonLength(data.data) > 2 ) {
                    for (var i = 0; i < 12; i++) {
                        var floatInfo = data.data[i];
                        switch (floatInfo.status) {
                            case 0:
                                document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#8ed8ff";
                                break;
                            case 1:
                                document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#dedede";
                                break;
                            case 2:
                                document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#ff839a";
                                break;
                            case 3:
                                document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#8a95ff";
                                break;
                            case 4:
                                document.getElementById("room_" + getNumReg(floatInfo.room_number)).style.fill = "#ffde83";
                                break;
                        }
                    }
                }

            }
        })
    }

    function showRoom() {
        var roomNum = localStorage.getItem("floatNum") + this.getAttribute("data-room");
        $.ajax({
            url:'/api/charts.index/room_info',
            type:'post',
            data: {
                room_id: roomNum
            },
            dataType:'json',
            success:function(data){
                $('.index-room-num').html(data.data[0].room_number)
                $('.index-room-floor').html(data.data[0].floor)
                $('.index-room-squ').html(data.data[0].area)
                $('.index-room-times').html(data.data[0].phase)
                $('.index-room-enterprise').html(data.data[0].enterprise_id)
            }
        })
    }

</script>
{/block}