{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <div class="row maintop">
        <div class="col-xs-12">
            <!-- 提示 -->
            {empty name="isChrome"}
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <i class="ace-icon fa fa-check green"></i>
                为了您更好的使用本系统，建议屏幕分辨率1280*768以上，并且安装chrome谷歌浏览器 ——— <a href="{:url('admin/Help/soft')}">进入软件下载专区</a>
            </div>
            {/empty}
        </div><!-- /.col -->


        <!--首页数据统计-->
        <div class="index-data-container">
            <!--用户统计-->
           <div class="common-count">
               <h3>用户统计</h3>
               <div class="common-number">
                   <a href="">
                   <h3>42</h3>
                   </a>
                   <h5>出租房源</h5>
               </div>
               <div class="common-number">
                   <a href="">
                       <h3>22</h3>
                   </a>
                   <h5>入驻企业数</h5>
               </div>
               <div class="common-number">
                   <a href="">
                       <h3>142</h3>
                   </a>
                   <h5>注册用户数</h5>
               </div>
           </div>

            <!--待处理统计-->
            <div class="common-count">
                <h3>待处理统计</h3>
                <div class="common-number">
                    <a href="">
                        <h3>2</h3>
                    </a>
                    <h5>会议室新预订</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>1</h3>
                    </a>
                    <h5>物业新报修</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>0</h3>
                    </a>
                    <h5>投诉新处理</h5>
                </div>
            </div>

            <!--发布文案-->
            <div class="common-count">
                <h3>发布文案</h3>
                <div class="common-number">
                    <a href="">
                        <h3>32</h3>
                    </a>
                    <h5>发布文章数</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>5</h3>
                    </a>
                    <h5>发布活动数</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>9</h3>
                    </a>
                    <h5>发布公告数</h5>
                </div>
            </div>

            <!--社区统计-->
            <div class="common-count">
                <h3>社区统计</h3>
                <div class="common-number">
                    <a href="">
                        <h3>12</h3>
                    </a>
                    <h5>发帖数</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>4</h3>
                    </a>
                    <h5>待审核数</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>25</h3>
                    </a>
                    <h5>成功发帖</h5>
                </div>
            </div>

            <!--房源信息-->
            <div class="common-room">
                <h3>房源信息</h3>
                <div class="common-number">
                    <a href="">
                        <h3>242</h3>
                    </a>
                    <h5>房源总数</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>60</h3>
                    </a>
                    <h5>未租</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>32</h3>
                    </a>
                    <h5>已租</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>65</h3>
                    </a>
                    <h5>已售</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>42</h3>
                    </a>
                    <h5>已定</h5>
                </div>
                <div class="common-number">
                    <a href="">
                        <h3>12</h3>
                    </a>
                    <h5>自留</h5>
                </div>
            </div>

            <!--财务相关-->
            <div class="common-count index-financial">
                <h3>财务相关</h3>
                <div class="common-number index-financial-number">
                    <h5>待缴费</h5>
                    <a href="">
                        <h3>12</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>待开票</h5>
                    <a href="">
                        <h3>4</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>已完成</h5>
                    <a href="">
                        <h3>25</h3>
                    </a>
                </div>
            </div>

            <!--企业相关-->
            <div class="common-count index-enterprise">
                <h3>企业管理</h3>
                <div class="common-number index-financial-number">
                    <h5>企业总数</h5>
                    <a href="">
                        <h3>12</h3>
                    </a>
                </div>
                <div class="common-number index-financial-number">
                    <h5>会员总数</h5>
                    <a href="">
                        <h3>4</h3>
                    </a>
                </div>
            </div>

        </div><!--首页数据统计结束-->

        <!--房源平面图-->
        <div class="common-room">
            <h3>房源平面图</h3>
            <h3>板块建设中。。。</h3>
        </div>


        <!--房源平面图-->
        <div class="common-echarts">
            <div id="index-pie" style="height: 100%"></div>
        </div>

    </div><!-- /.row -->
</div>
{/block}