{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <!--主题-->
    <div class="row maintop">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-toggle="tab" href="#basic">基本信息</a></li>
                <li><a data-toggle="tab" href="#business">业务信息</a></li>
                <li><a data-toggle="tab" href="#contract">联系信息</a></li>
                <li><a data-toggle="tab" href="#bank">银行信息</a></li>
                <li><a data-toggle="tab" href="#entry">入驻信息</a></li>
            </ul>
            <form class="form-horizontal ajaxForm" name="enterprise_info" method="post"
                  action="{:url('admin/Enterprise/enterprise_runedit')}">
                <div class="tab-content">
                    <div id="basic" class="tab-pane fade in active">
                        <!--基本信息开始-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业名称： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_name" id="enterprise_list_name"
                                       value="{$info['enterprise_list_name']}" placeholder="" class="col-xs-10 col-sm-5"
                                       required/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group" id="pic_list">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业LOGO </label>
                            <div class="col-sm-9">
                                <input type="hidden" name="checkpic" id="checkpic"
                                       value="{$info.enterprise_list_logo}"/>
                                <input type="hidden" name="oldcheckpic" id="oldcheckpic"
                                       value="{$info.enterprise_list_logo}"/>
                                <input type="hidden" name="oldcheckpicname" id="oldcheckpic"
                                       value="{$info.enterprise_list_logo}"/>
                                <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                    <input type="file" name="file0" id="file0" multiple="multiple"/>
                                    选择上传文件
                                </a>
                                <span class="lbl">&nbsp;&nbsp;
								<img src="{$info.enterprise_list_logo|get_imgurl}" width="100" height="70" id="img0">
							</span>&nbsp;&nbsp;
                                &nbsp;&nbsp;<a href="javascript:;"
                                               onclick="return backpic('{$info.enterprise_list_logo}');"
                                               title="还原修改前的图片" class="file">
                                撤销上传
                            </a>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group" id="pic_list1">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 营业执照 </label>
                            <div class="col-sm-9">
                                <input type="hidden" name="checkpic1" id="checkpic1"
                                       value="{$info.enterprise_list_license_img}"/>
                                <input type="hidden" name="oldcheckpic1" id="oldcheckpic1"
                                       value="{$info.enterprise_list_license_img}"/>
                                <input type="hidden" name="oldcheckpicname1" id="oldcheckpic1"
                                       value="{$info.enterprise_list_license_img}"/>
                                <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                    <input type="file" name="file1" id="file1" multiple="multiple"/>
                                    选择上传文件
                                </a>
                                <span class="lbl">&nbsp;&nbsp;
								<img src="{$info.enterprise_list_license_img|get_imgurl}" width="100" height="70"
                                     id="img1">
							</span>&nbsp;&nbsp;
                                &nbsp;&nbsp;<a href="javascript:;"
                                               onclick="return backpic1('{$info.enterprise_list_license_img}');"
                                               title="还原修改前的图片" class="file">
                                撤销上传
                            </a>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <input type="hidden" name="id" value="{$info['enterprise_id']}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                统一社会信用代码： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_credit_code" id="enterprise_list_credit_code"
                                       value="{$info['enterprise_list_credit_code']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 法定代表人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_representative"
                                       id="enterprise_list_legal_representative"
                                       value="{$info['enterprise_list_legal_representative']}"
                                       placeholder="{$info['enterprise_list_legal_representative']}"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 法人身份证号： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_id_number"
                                       id="enterprise_list_legal_id_number"
                                       value="{$info['enterprise_list_legal_id_number']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 法人联系方式： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_phone_number"
                                       id="enterprise_list_legal_phone_number"
                                       value="{$info['enterprise_list_legal_phone_number']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 成立日期： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_setup_day"
                                       id="enterprise_list_legal_setup_day"
                                       value="{$info['enterprise_list_legal_setup_day']|date='Y/m/d',###}"
                                       placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 注册资金： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_registered_capital"
                                       id="enterprise_list_legal_registered_capital"
                                       value="{$info['enterprise_list_legal_registered_capital']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 注册地址： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_registered_address"
                                       id="enterprise_list_legal_registered_address"
                                       value="{$info['enterprise_list_legal_registered_address']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 经营地址： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_business_address"
                                       id="enterprise_list_legal_business_address"
                                       value="{$info['enterprise_list_legal_business_address']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业通讯地址： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_book_address"
                                       id="enterprise_list_legal_book_address"
                                       value="{$info['enterprise_list_legal_book_address']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业纳税人类型： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_list_legal_tax_type"
                                       id="enterprise_list_legal_tax_type"
                                       value="{$info['enterprise_list_legal_tax_type']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                    </div>
                    <!--基本信息结束-->
                    <!--企业业务信息开始-->
                    <div id="business" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                企业登记注册类型： </label>
                            <div class="col-sm-9">
                                <input type="text" name="registration_type" id="registration_type"
                                       value="{$info['registration_type']}" placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 行业类别： </label>
                            <div class="col-sm-9">
                                <input type="text" name="enterprise_category" id="enterprise_category"
                                       value="{$info['enterprise_category']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业所属技术领域
                                ： </label>
                            <div class="col-sm-9">
                                <input type="text" name="technical_field" id="technical_field"
                                       value="{$info['technical_field']}" placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                企业网址（非必填）： </label>
                            <div class="col-sm-9">
                                <input type="text" name="website_url" id="website_url" value="{$info['website_url']}"
                                       placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                    </div>
                    <!--企业业务信息结束-->

                    <!--企业联系信息开始-->
                    <div id="contract" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业联系地址： </label>
                            <div class="col-sm-9">
                                <input type="text" name="contact_address" id="contact_address"
                                       value="{$info['contact_address']}" placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮政编码： </label>
                            <div class="col-sm-9">
                                <input type="text" name="zip_code" id="zip_code" value="{$info['zip_code']}"
                                       placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 联系人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="contact" id="contact" value="{$info['contact']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 联系电话： </label>
                            <div class="col-sm-9">
                                <input type="text" name="contact_number" id="contact_number"
                                       value="{$info['contact_number']}" placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 传真（非必填）： </label>
                            <div class="col-sm-9">
                                <input type="text" name="fax" id="fax" value="{$info['fax']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                    </div>
                    <!--企业联系信息结束-->
                    <!--银行信息开始-->
                    <div id="bank" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 银行名称： </label>
                            <div class="col-sm-9">
                                <input type="text" name="bank_name" id="bank_name" value="{$info['bank_name']}"
                                       placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开户行： </label>
                            <div class="col-sm-9">
                                <input type="text" name="bank_deposit" id="bank_deposit" value="{$info['bank_deposit']}"
                                       placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 账号： </label>
                            <div class="col-sm-9">
                                <input type="text" name="account" id="account" value="{$info['account']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 财务负责人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="financial_office" id="financial_office"
                                       value="{$info['financial_office']}" placeholder="" class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 财务负责人电话： </label>
                            <div class="col-sm-9">
                                <input type="text" name="financial_office_phone" id="financial_office_phone"
                                       value="{$info['financial_office_phone']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱： </label>
                            <div class="col-sm-9">
                                <input type="email" name="financial_office_email" id="financial_office_email"
                                       value="{$info['financial_office_email']}" placeholder=""
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                    </div>
                    <!--银行信息结束-->

                    <!--入驻信息开始-->
                    <div id="entry" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 楼宇： </label>
                            <div class="col-sm-9">
                                <select name="phase" id="phase">
                                    {foreach $building as $b}
                                    <option value="{$b.id}" {if $info[
                                    'phase'] eq $b.id}selected{/if}>{$b.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 房间号： </label>
                            <div class="col-sm-9">
                                <input type="text" name="room" id="room" value="{$info['room']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>多个房间号请以"|"分割</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 保证金： </label>
                            <div class="col-sm-9">
                                <input type="text" name="margin" id="margin" value="{$info['margin']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 房租支付周期： </label>
                            <div class="col-sm-9">
                                <input type="text" name="rent_period" id="rent_period" value="{$info['rent_period']}"
                                       placeholder="" class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 物业费支付周期： </label>
                            <div class="col-sm-9">
                                <input type="text" name="property_period" id="property_period"
                                       value="{$info['property_period']}" placeholder="" class="col-xs-10 col-sm-5"
                                       required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 空调费支付周期： </label>
                            <div class="col-sm-9">
                                <input type="text" name="air_conditioner_period" id="air_conditioner_period"
                                       value="{$info['air_conditioner_period']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签订日期： </label>
                            <div class="col-sm-9">
                                <input type="text" name="signed_day" id="signed_day"
                                       value="{$info['signed_day']|date='Y/m/d',###}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 支付时间： </label>
                            <div class="col-sm-9">
                                <input type="text" name="pay_time" id="pay_time"
                                       value="{$info['pay_time']|date='Y-m-d H:i:s',###}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group" id="pic_list2">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 租房合同 </label>
                            <div class="col-sm-9">
                                <input type="hidden" name="checkpic2" id="checkpic2" value="{$info.contract_img}"/>
                                <input type="hidden" name="oldcheckpic2" id="oldcheckpic2"
                                       value="{$info.contract_img}"/>
                                <input type="hidden" name="oldcheckpicname2" id="oldcheckpic2"
                                       value="{$info.contract_img}"/>
                                <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                    <input type="file" name="file2" id="file2" multiple="multiple"/>
                                    选择上传文件
                                </a>
                                <span class="lbl">&nbsp;&nbsp;
								<img src="{$info.contract_img|get_imgurl}" width="100" height="70" id="img2">
							</span>&nbsp;&nbsp;
                                &nbsp;&nbsp;<a href="javascript:;" onclick="return backpic12('{$info.contract_img}');"
                                               title="还原修改前的图片" class="file">
                                撤销上传
                            </a>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签订人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="signer" id="signer" value="{$info['signer']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 操作人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="operator" id="operator" value="{$info['operator']}"
                                       placeholder="" class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开票人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="drawer" id="drawer" value="{$info['drawer']}" placeholder=""
                                       class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 确认人： </label>
                            <div class="col-sm-9">
                                <input type="text" name="confirmer" id="confirmer" value="{$info['confirmer']}"
                                       placeholder="" class="col-xs-10 col-sm-5" required/>
                                <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                                <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="res26"></span>
                            </div>
                        </div>
                        <div class="space-4"></div>
                    </div>
                    <!--入驻信息结束-->
                    <div class="clearfix form-actions">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.page-content -->
{/block}