{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <form id="alldel" name="alldel" method="post" action="{:url('admin/Service/complains_alldelete')}">
                    <input name="p" id="p" value="{:input('p',1)}" type="hidden"/>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                            <thead>
                            <tr>
                                <th class="hidden-xs center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" id='chkAll' onclick='CheckAll(this.form)'
                                               value="全选"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>类型</th>
                                <th>发布人</th>
                                <th>手机号</th>
                                <th>标题</th>
                                <th>内容</th>
                                <th>图片</th>
                                <th class="hidden-sm hidden-xs">发布时间</th>
                                <th>处理状态</th>
                                <th style="border-right:#CCC solid 1px;">操作</th>
                            </tr>
                            </thead>

                            <tbody id="ajax-data">
                            {foreach name="list" item="v"}
                            <tr>
                                <td class="hidden-xs" align="center">
                                    <label class="pos-rel">
                                        <input name='id[]' id="navid" class="ace" type='checkbox' value='{$v.id}'>
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{$v.id}</td>
                                {if $v.type eq 1}
                                <td height="28">投诉</td>
                                {else}
                                <td height="28">建议</td>
                                {/if}
                                <td height="28">{$v.user_id|getUserNameById}</td>
                                <td height="28">{$v.phone}</td>
                                <td height="28">{$v.title}</td>
                                <td height="28">{$v.content}</td>
                                <td>
                                    {if $v.pic_url}
                                    {foreach $v.pic_url as $vv}
                                    <img src="{$vv}" style="max-width:40px;max-height:40px;"/>
                                    {/foreach}
                                    {/if}
                                </td>
                                <td class="hidden-sm hidden-xs">{$v.create_time|date='Y-m-d H:i:s',###}</td>
                                {if $v.status eq 1}
                                <td>已处理</td>
                                {else}
                                <td>待处理</td>
                                {/if}
                                <td>
                                    <div class="action-buttons">
                                        <a class="red confirm-rst-url-btn" data-info="确定删除吗？"
                                           href="{:url('admin/Service/complains_delete',array('id'=>$v['id'],'p'=>input('p',1)))}"
                                           title="删除">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                            <tr>
                                <td align="left">
                                    <button id="btnsubmit" class="btn btn-white btn-yellow btn-sm">删</button>
                                     
                                </td>
                                <td colspan="12" align="right">{$page}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
{/block}
