{foreach $list as $k=>$v}
<tr>
    <td class="hidden-xs" height="28">{$k+1}</td>
    <td>{$v.enterprise_list_name}</td>
    <td>{$v.rent_amount}</td>
    <td>{$v.property_amount}</td>
    <td>{$v.aircon_amount}</td>
    <td>{$v.discounted_amount}</td>
    <td>{$v.amount}</td>
    <td>{$v.margin}</td>
    <td class="hidden-sm hidden-xs">{$v.signed_day|date='Y-m-d',###}</td>
    <td>{$v.signer}</td>
    {if $v.status eq 0}
    <td>待缴费</td>
    {elseif $v.status eq 1 /}
    <td>待开票</td>
    {else}
    <td>已完成</td>
    {/if}
    {if $v.is_notify eq 0}
    <td></td>
    {else}
    <td>{$v.is_notify|getAdminUserNameById}</td>
    {/if}
    <td>{$v.fee_handler|getAdminUserNameById}</td>
    <td>{$v.invoice_handler|getAdminUserNameById}</td>
    <td>
        <div class="hidden-sm hidden-xs action-buttons">

            <a class="blue" href="{:url('admin/enterprise/enterprise_info',array('id'=>$v['id']))}"
               data-toggle="tooltip" title="查看企业信息">
                <i class="ace-icon fa  bigger-130 iconfont icon-chakan"></i>
            </a>

            {if $v.is_notify eq 0}
            <a class="confirm-rst-url-btn" data-info="发送短信?"
               href="{:url('admin/financial/sendSms',array('id'=>$v['id']))}" title="发送短信通知" data-toggle="tooltip">
                <i class="ace-icon fa fa-commenting-o bigger-130"></i>
            </a>
            {/if}
            {if $v.is_notify neq 0}
            {if $v.status eq 0}
            <a class="confirm-rst-url-btn" data-info="确认收款?"
               href="{:url('admin/financial/paid',array('id'=>$v['id']))}" title="确认收款" data-toggle="tooltip">
                <i class="ace-icon fa fa-rmb bigger-130"></i>
            </a>
            {/if}
            {if $v.status eq 1}
            <a class="confirm-rst-url-btn" data-info="确认开票?"
               href="{:url('admin/financial/invoice',array('id'=>$v['id']))}" title="确认开票" data-toggle="tooltip">
                <i class="ace-icon fa fa-money bigger-130"></i>
            </a>
            {/if}
            {/if}
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td height="50" colspan="16" align="left">{$page}</td>
</tr>
