{foreach $list as $k=>$v}
<tr>
    <td class="hidden-xs" height="28">{$k+1}</td>
    <td>{$v.enterprise_list_name}</td>
    <td>{$v.rent_amount}</td>
    <td>{$v.property_amount}</td>
    <td>{$v.aircon_amount}</td>
    <td>{$v.discounted_amount}</td>
    <td>{$v.amount}</td>
    <td>{$v.margin}</td>
    <td class="hidden-sm hidden-xs">{$v.signed_day|date='Y-m-d',###}</td>
    <td>{$v.signer}</td>
    {if $v.is_notify eq 1}
    <td>已通知</td>
    {else}
    <td>未通知</td>
    {/if}
    {if $v.status eq 0}
    <td>待缴费</td>
    {elseif $v.status eq 1 /}
    <td>待开票</td>
    {else}
    <td>已完成</td>
    {/if}
    <td>
        <div class="hidden-sm hidden-xs action-buttons">

            <a class="blue" href="{:url('admin/enterprise/enterprise_info',array('id'=>$v['id']))}" title="查看企业信息">
                <i class="ace-icon fa  bigger-130 iconfont icon-chakan"></i>
            </a>

            <a class="confirm-rst-url-btn" data-info="发送短信?" href="{:url('admin/financial/sendSms',array('id'=>$v['id']))}" title="发送短信通知" data-toggle="tooltip">
                <i class="ace-icon fa fa-commenting-o bigger-130"></i>
            </a>
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td height="50" colspan="14" align="left">{$page}</td>
</tr>
