{foreach name="list" item="v"}
	<tr>
		<td class="hidden-xs" height="28" >{$v.id}</td>
        {if $v.phase eq 1}
		<td>一期</td>
        {else}
        <td>二期</td>
        {/if}
		<td>{$v.floor}</td>
        <td>{$v.room_number}</td>
        <td>{$v.area}</td>
        {if $v.decoration eq 1}
		<td>毛坯</td>
        {else}
        <td>简装</td>
        {/if}
		<td class="hidden-sm hidden-xs">{$v.create_time|date='Y-m-d H:i:s',###}</td>
		<td class="hidden-xs">
			{if condition='$v.status > 0'}
				<span class="red open-btn" title="已租">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-yellow">已租</button></div>
				</span>
				{else/}
				<span class="red open-btn" title="未租">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-danger">未租</button></div>
                </span>
			{/if}
		</td>

		<td>
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="green"  href="{:url('admin/Park/room_edit',array('id'=>$v['id']))}" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" href="{:url('admin/Park/room_delete',array('id'=>$v['id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
                {if $v.status >0}
                <a class="green"  href="{:url('admin/enterprise/enterprise_info',array('id'=>$v['status']))}" title="查看入驻企业">
                    <i class="ace-icon fa fa-eye bigger-130"></i>
                </a>
                {/if}
			</div>
			<div class="hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
						<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
					</button>
					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						<li>
							<a href="{:url('admin/Park/room_edit',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
											<span class="green">
												<i class="ace-icon fa fa-pencil bigger-120"></i>
											</span>
							</a>
						</li>

						<li>
							<a href="{:url('admin/Park/room_delete',array('id'=>$v['id'],'p'=>input('p',1)))}"  class="tooltip-error confirm-rst-url-btn" data-info="你确定要删除吗？" data-rel="tooltip" title="" data-original-title="删除">
											<span class="red">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</span>
							</a>
						</li>
                        {if $v.status >0}
                        <li>
                            <a href="{:url('admin/enterprise/enterprise_info',array('id'=>$v['status']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="查看企业信息">
											<span class="green">
												<i class="ace-icon fa fa-eye bigger-120"></i>
											</span>
                            </a>
                        </li>
                        {/if}
					</ul>
				</div>
			</div>
		</td>
	</tr>
{/foreach}
<tr>
	<td height="50" colspan="12" align="left">{$page}</td>
</tr>
