html{
    background-color: #eef4f9;
}
body{
    background-color: #eef4f9;
    font-size: 14px;
    overflow-x: hidden;
}
.rigbg{
    color: #667690;
}
.font12 {
    font-size: 15px;
}
.btn-purple, .btn-purple.focus, .btn-purple:focus{
    background-color: #b8c2d4!important;
    border-color: #b8c2d4;
}
a:focus, a:hover{
    color: #27aaf3;
}
.btn-purple.focus:hover, .btn-purple:active:hover, .btn-purple:focus:active, .btn-purple:focus:hover, .btn-purple:hover, .open>.btn-purple.dropdown-toggle, .open>.btn-purple.dropdown-toggle.focus, .open>.btn-purple.dropdown-toggle:active, .open>.btn-purple.dropdown-toggle:focus, .open>.btn-purple.dropdown-toggle:hover{
    background-color: #27aaf3!important;
    border-color: #27aaf3;
}
.btn-danger, .btn-danger.focus, .btn-danger:focus{
    background-color: #27aaf3!important;
    border-color: #27aaf3;
}
.img-min{
    width: 100px;
}
.img-max{
    width: 500px;
}


/*首页样式修改*/
.common-count {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    padding: 10px;
    background-color: #f3f6f9;
    margin-bottom: 15px;
}
.common-count h3{
    margin: 10px;
    padding: 5px;
    color: #667690;
}
.common-number {
    box-sizing: border-box;
    width: 32%;
    display: inline-block;
    text-align: center;
}

.common-number h5 {
    color: #667690;
}
.common-room {
    box-sizing: border-box;
    width: 99%;
    padding: 10px;
    background-color: #f3f6f9;
    margin-bottom: 15px;
}
.common-room h3{
    margin: 10px;
    padding: 5px;
    color: #667690;
}
.common-room .common-number{
    width: 16%;
}
.common-number h3{
    color: #27aaf3;
}

/*首页财务相关样式*/
.index-financial{
    width: 60.5%;
}
.index-financial-number h5{
    display: inline-block;
}
.index-financial-number h3{
    display: inline-block;
}
/*首页企业相关样式*/
.index-enterprise {
    width: 38%;
}
.index-enterprise  .common-number{
    width: 49%;
}

/*图表样式*/
.common-echarts {
    box-sizing: border-box;
    width: 99%;
    background-color: #eef4f9;
    margin-bottom: 15px;
}
.common-charts-style {
    height:400px;
    background-color: #f3f6f9;
    margin-bottom: 15px;
}



/*首页楼层平面样式*/
.index-build-plane{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.index-bulid-list,.index-room-info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.index-floor{
    width: 300px;
    height: 20px;
    background-color: #27aaf3;
    border: 2px solid #fff;
    cursor: pointer;
}
.index-floor:hover{
    transform: scale(1.1);
}



.index-room-container{
    display: inline-block;
}
.index-room-plane{
    text-align: center;
}
.index-room-info{
    box-sizing: border-box;
    background-color: #e9f1f8;
    color: #667690;
    padding-left: 9%;
    font-size: 16px;
    font-weight: 600;
    min-width: 650px;
}
.index-room-info-title{
    background-color: #e4edf5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-weight: 600;
}
.inline-block{
    display: inline-block;
}
.index-room-left{
    width: 30%;
}
.index-room-left li ,.index-room-right li{
    margin: 20px 0;
}
.index-room-right{
    width: 60%;
}



/*顶部导航样式*/
.nav-list>li .submenu {
    display: block;
}
.navbar-brand img {
    height: 50px;
}
.navbar {
    background: #f3f6f9;
}
.navbar-brand{
    padding: 0;
}
.ace-nav>li{
    line-height: 60px;
    height: 60px;
}
.ace-nav>li.purple>a,.ace-nav>li.light-blue>a{
    background-color: #f3f6f9;
    color: #667690;
}
.ace-nav>li.light-blue>a:focus, .ace-nav>li.light-blue>a:hover, .ace-nav>li.open.light-blue>a{
    background-color: #27aaf3;
}
.user-info {
    top: 20px;
}
.pull-left {
    margin-left: 9%;
    padding: 10px;
}
.pull-right {
    margin-right: 9%;
}
.change-h1{
    font-size: 26px;
    color: #667690;
}
.main-container.container:before{
     -webkit-box-shadow: none;
     box-shadow: none;
}
.main-container:before{
    background-color: #eef4f9;
}
.footer .footer-inner .footer-content{
    border-top:none;
}

/*侧边栏样式*/
.no-skin .sidebar{
    border-style:none;
}
.no-skin .nav-list>li>a {
    color: #667690;
}
.nav-list>li>a{
    font-size: 18px;
}
.nav-list>li>a>.menu-icon{
    vertical-align: baseline;
    font-size: 20px;
}
.nav-list>li .submenu>li>a{
    padding: 12px 0 9px 44px;
}
.no-skin .nav-list>li>a{
    background-color: #eef4f9;
}
.no-skin .nav-list>li {
    border-color: #eef4f9;
}
.nav-list>li .submenu>li>a{
    border-top-style: none;
}
.no-skin .nav-list>li .submenu{
    background-color: #eef4f9;
}
.no-skin .nav-list>li .submenu>li>a{
    background-color:#eef4f9;
}
.no-skin .nav-list>li .submenu>li>a:hover {
    color: #4B88B7;
    background-color: #ffffff;
}
.no-skin .nav-list>li .submenu>li.active>a{
    color: #27aaf3;
}
.no-skin .sidebar-toggle,.no-skin .sidebar{
    background-color:#eef4f9;
}
.no-skin .nav-list>li .submenu{
    border-color: #eef4f9;
}

/*主体样式修改*/
.page-header{
    padding-bottom: 22px;
    margin: 0 0 22px;
}

.sidebar+.main-content{
    margin-left: 290px;
}
.btn-danger a{
    color: #fff;
}
.gap{
    width: 100%;
    height: 60px;
    background-color: #eef4f9;
}
.page-content{
    -webkit-box-shadow: 0 -3px 1px -3px rgba(0,0,0,.25);
    box-shadow: 0 -3px 1px -3px rgba(0,0,0,.25);
}
.row{
     margin-left: 0;
     margin-right: 0;
}






/*屏幕适配*/
@media screen and (min-width:1200px) and (max-width:1380px){
    .sidebar+.main-content{
        margin-left: 210px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1600px;
    }
    .container.main-container .sidebar+.main-content .h-sidebar.sidebar-fixed {
        width:100%;
        background-color: #eef4f9;
    }
    .container.main-container .sidebar~.footer .footer-inner {
        max-width: 1562px;
    }
}

@media (min-width: 992px){
    .container.main-container .sidebar+.main-content .h-sidebar.sidebar-fixed{
        width:100%;
    }
    .main-content .h-sidebar.sidebar-fixed+.page-content{
        /*margin-top: 178px;*/
        margin-top: 148px;
        padding: 0;
        background-color: #eef4f9;
    }
    .sidebar.h-sidebar .nav-list{
        border-bottom: none;
    }
    .breadcrumbs-fixed+.page-content{
        padding-top: 10px;
    }
    .sidebar.h-sidebar .nav-list>li>a{
        padding: 10px 0;
    }

}

@media only screen and (min-width: 992px){
    .navbar.h-navbar {
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
        box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
    }
}



