@media (min-width: 1200px){
    .container {
        width: 1600px;
    }
}

@media only screen and (min-width: 992px){
    .navbar.h-navbar {
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
        box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
    }
}

body{
    background-color: #eef4f9;
    font-size: 14px;
}

/*顶部导航样式*/
.gap{
    width: 100%;
    height: 20px;
}
.nav-list>li .submenu {
    display: block;
}
.navbar-brand img {
    width: 60px;
}
.navbar {
    background: #f3f6f9;
}
.navbar-brand{
    padding: 0;
}
.ace-nav>li{
    line-height: 60px;
    height: 60px;
}
.ace-nav>li.purple>a,.ace-nav>li.light-blue>a{
    background-color: #fff;
    color: #667690;
}
.user-info {
    top: 20px;
}
.pull-left {
    margin-left: 9%;
}
.pull-right {
    margin-right: 9%;
}
@media (min-width: 1200px){
    .container.main-container .sidebar+.main-content .h-sidebar.sidebar-fixed {
        width:100%;
        background-color: #eef4f9;
    }
}

@media (min-width: 992px){
    .container.main-container .sidebar+.main-content .h-sidebar.sidebar-fixed{
        width:100%;
    }
}
.sidebar.h-sidebar .nav-list>li:first-child{
    width: 100%;
}



/*侧边栏样式*/
.no-skin .nav-list>li>a {
    color: #667690;
}
.nav-list>li>a{
    font-size: 18px;
}
.nav-list>li>a>.menu-icon{
    vertical-align: baseline;
    font-size: 20px;
}
.nav-list>li .submenu>li>a{
    padding: 10px 0 9px 44px;
}
.no-skin .nav-list>li>a{
    background-color: #eef4f9;
}
.no-skin .nav-list>li {
    border-color: #eef4f9;
}
.nav-list>li .submenu>li>a{
    border-top-style: none;
}
.no-skin .nav-list>li .submenu>li>a{
    background-color:#eef4f9;
}
.no-skin .nav-list>li .submenu>li>a:hover {
    color: #4B88B7;
    background-color: #ffffff;
}


/*主体样式修改*/
.page-header{
    padding-bottom: 22px;
    margin: 0 0 22px;
}
@media (min-width: 1200px){
    .container.main-container .sidebar~.footer .footer-inner {
        margin-left: 51px;
        width: 1562px;
    }
}

/*房源管理*/
/*办公室添加*/
.change-maintop{
    margin-top: 38px;
}
