.btn0 {
    border: 1px solid #8ed8ff !important;
    background-color: #8ed8ff !important;
}

.btn1 {
    border: 1px solid #dedede !important;
    background-color: #dedede !important;
}

.btn2 {
    border: 1px solid #ff839a !important;
    background-color: #ff839a !important;
}

.btn3 {
    border: 1px solid #8a95ff !important;
    background-color: #8a95ff !important;
}

.btn4 {
    border: 1px solid #ffde83 !important;
    background-color: #ffde83 !important;
}